.cs-landing_container {
  max-width: 1630px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
.cs-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
}
.cs-nav li:not(:first-child) {
  margin-left: 75px;
}
.cs-header_in {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}
.cs-btn {
  display: inline-flex;
  padding: 11px 35px;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
  line-height: 1.6em;
}
.cs-btn:hover {
  color: #fff;
  opacity: 0.8;
}

.cs-hero {
  height: 710px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  overflow: hidden;
  position: relative;
}
.cs-hero .cs-landing_container {
  position: relative;
}

.cs-hero_img {
  position: absolute;
  right: 0;
  height: 100%;
  display: block;
  top: -44%;
  max-width: 55%;
}

.cs-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f5f7ff;
  z-index: 150;
}

.cs-hero_title {
  font-size: 52px;
  margin-bottom: 20px;
}

.cs-hero_subtitle {
  font-size: 18px;
  line-height: 1.6em;
  margin-bottom: 40px;
}

.cs-hero_text {
  position: relative;
  z-index: 1;
}

.cs-section_title {
  font-size: 52px;
  font-weight: 500;
  margin-bottom: 40px;
}

.cs-section {
  padding: 90px 0 100px;
}
.cs-demos {
  display: grid;
  grid-gap: 40px;
  list-style: none;
  padding: 0;
  grid-template-columns: repeat(3, 1fr);
}
.cs-demo img {
  filter: drop-shadow(0px 1px 5px rgba(17, 17, 17, 0.05));
  border-radius: 10px;
  transition: all 0.3s ease;
}
.cs-demo:hover img {
  transform: translateY(-5px);
}
.cs-demo h3 {
  font-size: 24px;
  font-weight: 500;
  margin-top: 25px;
  margin-bottom: 5px;
  color: inherit;
}
.cs-demo p {
  margin: 0;
  font-size: 20px;
}

.cs-white_bg {
  background-color: #fff;
}

.cs-features {
  display: grid;
  grid-gap: 30px;
  list-style: none;
  padding: 0;
  grid-template-columns: repeat(4, 1fr);
}
.cs-feature_box {
  box-shadow: 4px 4px 10px rgb(17 17 17 / 5%);
  border-radius: 5px;
  text-align: center;
  padding: 28px 15px;
}
.cs-feature_box svg {
}
.cs-feature_box h3 {
  margin: 20px 0 0;
  font-size: 18px;
}
.cs-copyright {
  height: 75px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 1.6em;
  background-color: #000;
}
.cs-footer .cs-landing_container {
  position: relative;
}
.cs-footer .cs-footer_img {
  position: absolute;
  bottom: -80px;
  right: 0px;
}
.cs-footer .cs-footer_title {
  font-size: 52px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 35px;
}
.cs-footer .cs-footer_text {
  padding: 90px 0 100px;
}
.cs-footer .cs-footer_in {
  overflow: hidden;
  position: relative;
}
.cs-footer .cs-btn {
  color: #000;
}
.cs-footer .cs-btn:hover {
  opacity: 0.8;
}

.cs-parallax [class*='cs-to_'] {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.cs-to_up {
  margin-top: 20%;
}

@media (max-width: 1550px) {
  .cs-hero_img {
    max-width: 50%;
    top: -36%;
  }
}
@media (max-width: 1450px) {
  .cs-hero_img {
    /* width: 600px; */
  }
  .cs-to_up {
    margin-top: 30%;
  }
}
@media (max-width: 1330px) {
  .cs-hero_img {
    /* width: 500px; */
  }
  .cs-to_up {
    margin-top: 35%;
  }
}
@media (max-width: 1199px) {
  .cs-footer .cs-footer_img,
  .cs-hero_img {
    display: none;
  }
  .cs-footer .cs-footer_text,
  .cs-hero_text {
    text-align: center;
  }
  .cs-demos {
    grid-gap: 25px;
  }
  .cs-features {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 991px) {
  .cs-demo h3 {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 2px;
  }
  .cs-demo p {
    font-size: 14px;
  }
  .cs-section_title {
    font-size: 32px;
    margin-bottom: 30px;
  }
  .cs-hero_title,
  .cs-footer .cs-footer_title {
    font-size: 36px;
    margin-bottom: 15px;
  }
  .cs-hero_subtitle {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .cs-hero_title br,
  .cs-hero_subtitle br,
  .cs-footer .cs-footer_title br {
    display: none;
  }
  .cs-btn {
    padding: 10px 25px;
    font-size: 16px;
  }
  .cs-nav li:not(:first-child) {
    margin-left: 30px;
  }
  .cs-demos {
    grid-template-columns: repeat(2, 1fr);
  }
  .cs-features {
    grid-template-columns: repeat(2, 1fr);
  }
  .cs-nav {
    font-size: 16px;
  }
  .cs-hero {
    height: 550px;
  }
}
@media (max-width: 575px) {
  .cs-demos,
  .cs-features {
    grid-template-columns: repeat(1, 1fr);
  }
  .cs-btn {
    padding: 8px 15px;
    font-size: 14px;
  }
  .cs-nav li:not(:first-child) {
    margin-left: 20px;
  }
}
@media (max-width: 450px) {
  .cs-nav li:first-child,
  .cs-nav li:nth-child(2) {
    display: none;
  }
}
